<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>All flights</title>
</head>
<body>
    <nav>
        <a href="/flights/new" <%- title === 'Add a Flight' ? 'class="active"' : '' %>>Add flight</a>
        <a href="/flights/view" <%- title === 'All flights' ? 'class="active"' : '' %>>All flights</a> 
    </nav>
    <h1>Flight List</h1>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airline</th>
                <th>FlightNo</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
             <tr>
                 <td><%= f.airline %> </td>
                 <td><%= f.airport %> </td>
                 <td><%= f.flightNo %> </td>
                 <td><%= f.departs %> </td>
                 <td><a href="/flights/<%= f._id %> ">DETAILS</a></td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>