<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
</head>
<body>
    <nav>
        <a href="/flights/new" <%- title === 'Add a Flight' ? 'class="active"' : '' %>>Add flight</a>
        <a href="/flights/view" <%- title === 'All flights' ? 'class="active"' : '' %>>All flights</a> 
    </nav>

    <section id="flights-page">
        <div>Airline: </div>
        <div><%= flight.airline %> </div>
        <div>Airport: </div>
        <div><%= flight.airport %> </div>
        <div>FlightsNo: </div>
        <div><%= flight.flightNo %> </div>
        <div>Date: </div>
        <div><%= flight.departs %> </div>
    </section>

    <form id="destinations" method="POST" action="/flights/<%= flight._id %>/destinations">
        <h2>Add Destination:</h2>
        <label>Airport:
            <select name="airport">
                <option value ="DEN" selected>DEN</option>
                <option value ="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>Arrival:
            <input type="datetime-local" name="arrival">
        </label><br>
        <input type="submit" name="submit">
    </form>
    <% if (flight.destinations) { %>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.forEach(d => { %>
              <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
            <h5>No Destinations Yet</h5>
        <% } %>
    
    
</body>
</html>