<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
</head>
<body>
    <nav>
        <a href="/flights/new" <%- title === 'Add a Flight' ? 'class="active"' : '' %>>Add flight</a>
        <a href="/flights/view" <%- title === 'All flights' ? 'class="active"' : '' %>>All flights</a> 
    </nav>
    <h1>Flight Details</h1>

    <section id="flights-page">
        <div>Airline: </div>
        <div><%= flights.airline %> </div>
        <div>Airport: </div>
        <div><%= flights.airport %> </div>
        <div>FlightsNo: </div>
        <div><%= flights.flightNo %> </div>
        <div>Date: </div>
        <div><%= flights.departs %> </div>
    </section>

    <form id="destinations" method="POST" action="/flights/<%= flights._id %>/destinations">
        <h3>Add Destination:</h3>
        <label>Airport:
            <select name="airport">
                <option value ="DEN" selected>DEN</option>
                <option value ="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br>
        <label>Arrival:
            <input type="datetime-local" name="arrival">
        </label><br>
        <input type="submit" name="submit">

        <h3>New Ticket:</h3>
        <label>Add Ticket:
            <td><a href="/flights/<%= flights._id %>/tickets/new">NEW TICKET</a></td>
        </label><br>
    </form>

    <table>
        <thead>
        <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
        </thead>

        
        <td><% flights.destinations.forEach(function(f){ %>
            <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
            </tr>
        <% }) %> </td>
         
    
    <h3>Overview:</h3>
    <table>
        <tr>
            <th>Seat:</th>
            <th>Price:</th>
        </tr>

        <% tickets.forEach(function(t){ %>
        <tr>
            <td><%= t.seat %> </td>
            <td><%= t.price %> </td>
        </tr>
       <% }) %>
    </table>
    
</body>
</html>